openapi: 3.0.3
info:
  title: Runo Call CRM API
  version: 8.0.18
  description: REST API for the Runo Call Management CRM platform.
servers:
  - url: 'https://api-call-crm.runo.in'
    description: Default server
tags:
  - name: ActivityLog
  - name: AddOns
  - name: AiCallAnalytics
  - name: AllocationRules
  - name: Allocations
  - name: Analytics
  - name: ApiConfiguration
  - name: CRM
  - name: Calendar
  - name: CallInsights
  - name: CallLogs
  - name: Calls
  - name: CloudTelephony
  - name: Company
  - name: CustomColumns
  - name: CustomerSearch
  - name: Customers
  - name: DNCR
  - name: DataCleanup
  - name: DeleteData
  - name: Designations
  - name: DoNotTrack
  - name: DownloadData
  - name: EmailInteractions
  - name: Fcm
  - name: Files
  - name: Followups
  - name: Hierarchy
  - name: InsightRules
  - name: Integration
  - name: InteractionReports
  - name: Invites
  - name: Licenses
  - name: LiveMonitor
  - name: Notifications
  - name: Password
  - name: Payments
  - name: Processes
  - name: Rechurn
  - name: RecurringFollowups
  - name: Reports
  - name: RequestedReports
  - name: RolesAndPermissions
  - name: ScoringCriteria
  - name: SecurityConfig
  - name: SmsInteractions
  - name: Templates
  - name: TimeLog
  - name: Transfers
  - name: UploadData
  - name: Usage
  - name: Users
  - name: VirtualNumbers
  - name: Vonage
  - name: WABA
  - name: WabaInbox
  - name: Webhooks
  - name: WhatsAppInteractions
paths:
  '/analytics/agent/call/{typeOfCall}/{startEpoch}/{endEpoch}/{perPage}/{pageNo}':
    post:
      operationId: analyticsService_getAgentCallAnalytics
      tags:
        - Analytics
      summary: Get per-agent call analytics (paginated)
      parameters:
        - name: typeOfCall
          in: path
          required: true
          schema:
            type: string
            enum:
              - inbound
              - outbound
              - overall
        - name: startEpoch
          in: path
          required: true
          schema:
            type: integer
        - name: endEpoch
          in: path
          required: true
          schema:
            type: integer
        - name: perPage
          in: path
          required: true
          schema:
            type: integer
        - name: pageNo
          in: path
          required: true
          schema:
            type: integer
        - name: timeZoneOffset
          in: query
          required: true
          schema:
            type: integer
        - name: sortOrder
          in: query
          required: true
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: sortBy
          in: query
          required: true
          schema:
            type: string
            enum:
              - totalCalls
              - connectedCalls
              - totalTalktime
              - averageTalktime
        - name: callMedium
          in: query
          required: false
          schema:
            type: string
            enum:
              - gsm
              - ct
              - all
        - name: isUnique
          in: query
          required: false
          schema:
            type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              required:
                - ids
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCallAnalyticsResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/analytics/agent/customer/stage/{startEpoch}/{endEpoch}/{perPageItems}/{pageNo}':
    post:
      operationId: analyticsService_getAgentCustomerAnalytics
      tags:
        - Analytics
      summary: Get per-agent customer stage analytics
      parameters:
        - name: startEpoch
          in: path
          required: true
          schema:
            type: string
        - name: endEpoch
          in: path
          required: true
          schema:
            type: string
        - name: perPageItems
          in: path
          required: true
          schema:
            type: string
        - name: pageNo
          in: path
          required: true
          schema:
            type: string
        - name: timeZoneOffset
          in: query
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              required:
                - ids
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCustomerAnalyticsResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/analytics/ai/call/performance/{fromEpoch}/{toEpoch}/{perPage}/{pageNo}':
    post:
      operationId: aiCallAnalyticsService_getTeamPerformanceData
      tags:
        - AiCallAnalytics
      summary: Get AI call team performance data
      parameters:
        - name: fromEpoch
          in: path
          required: true
          schema:
            type: integer
        - name: toEpoch
          in: path
          required: true
          schema:
            type: integer
        - name: perPage
          in: path
          required: true
          schema:
            type: integer
        - name: pageNo
          in: path
          required: true
          schema:
            type: integer
        - name: timeZoneOffset
          in: query
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              required:
                - ids
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiCallAnalyticsTeamPerformanceResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/analytics/ai/call/rank/{fromEpoch}/{toEpoch}':
    post:
      operationId: aiCallAnalyticsService_getPerformanceRanking
      tags:
        - AiCallAnalytics
      summary: Get AI call performance ranking
      parameters:
        - name: fromEpoch
          in: path
          required: true
          schema:
            type: integer
        - name: toEpoch
          in: path
          required: true
          schema:
            type: integer
        - name: type
          in: query
          required: true
          schema:
            type: string
            enum:
              - top
              - bottom
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              required:
                - ids
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceRankingResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/analytics/ai/call/sentiment/{fromEpoch}/{toEpoch}':
    post:
      operationId: aiCallAnalyticsService_getAICallSentimentAnalytics
      tags:
        - AiCallAnalytics
      summary: Get AI call sentiment analytics
      parameters:
        - name: fromEpoch
          in: path
          required: true
          schema:
            type: integer
        - name: toEpoch
          in: path
          required: true
          schema:
            type: integer
        - name: timeZoneOffset
          in: query
          required: true
          schema:
            type: integer
        - name: type
          in: query
          required: true
          schema:
            type: string
            enum:
              - team
              - customer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              required:
                - ids
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AICallSentimentAnalysisResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/analytics/ai/call/{fromEpoch}/{toEpoch}':
    post:
      operationId: aiCallAnalyticsService_getAiCallAnalyticsStats
      tags:
        - AiCallAnalytics
      summary: Get AI call analytics stats
      parameters:
        - name: fromEpoch
          in: path
          required: true
          schema:
            type: integer
        - name: toEpoch
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              required:
                - ids
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiCallAnalyticsStatsResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/analytics/allocation/progress/{startEpoch}/{endEpoch}/{perPage}/{pageNo}':
    post:
      operationId: analyticsService_getAgentAllocationAnalytics
      tags:
        - Analytics
      summary: Get per-agent allocation analytics (paginated)
      parameters:
        - name: startEpoch
          in: path
          required: true
          schema:
            type: string
        - name: endEpoch
          in: path
          required: true
          schema:
            type: string
        - name: perPage
          in: path
          required: true
          schema:
            type: string
        - name: pageNo
          in: path
          required: true
          schema:
            type: string
        - name: timeZoneOffset
          in: query
          required: true
          schema:
            type: integer
        - name: sortBy
          in: query
          required: true
          schema:
            type: string
        - name: sortOrder
          in: query
          required: true
          schema:
            type: string
        - name: source
          in: query
          required: false
          schema:
            type: string
        - name: leadSource
          in: query
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              required:
                - ids
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentAllocationAnalyticsResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/analytics/call/{typeOfCall}/{startEpoch}/{endEpoch}':
    post:
      operationId: analyticsService_getCallAnalytics
      tags:
        - Analytics
      summary: Get call analytics aggregated over a time range
      parameters:
        - name: typeOfCall
          in: path
          required: true
          schema:
            type: string
            enum:
              - notanswered
              - incoming_answered
              - outgoing_answered
              - missed
              - personal
              - openmissedcalls
              - outgoing_personal
              - incoming_personal
        - name: startEpoch
          in: path
          required: true
          schema:
            type: integer
        - name: endEpoch
          in: path
          required: true
          schema:
            type: integer
        - name: timeZoneOffset
          in: query
          required: true
          schema:
            type: integer
        - name: distribution
          in: query
          required: false
          schema:
            type: string
            enum:
              - daily
              - weekly
              - monthly
        - name: callMedium
          in: query
          required: false
          schema:
            type: string
            enum:
              - gsm
              - ct
              - all
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              required:
                - ids
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallAnalyticsResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/analytics/customer/field/{startEpoch}/{endEpoch}':
    post:
      operationId: analyticsService_getCustomerCountsByFields
      tags:
        - Analytics
      summary: Get customer counts grouped by a custom field
      parameters:
        - name: startEpoch
          in: path
          required: true
          schema:
            type: string
        - name: endEpoch
          in: path
          required: true
          schema:
            type: string
        - name: timeZoneOffset
          in: query
          required: true
          schema:
            type: integer
        - name: fieldId
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              required:
                - ids
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersByFieldsResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/analytics/customer/stage/{startEpoch}/{endEpoch}':
    post:
      operationId: analyticsService_getCustomerStageAnalytics
      tags:
        - Analytics
      summary: Get customer stage distribution
      parameters:
        - name: startEpoch
          in: path
          required: true
          schema:
            type: string
        - name: endEpoch
          in: path
          required: true
          schema:
            type: string
        - name: timeZoneOffset
          in: query
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              required:
                - ids
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerAnalyticsResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/analytics/group/input/output/analytics/input/{processType}/{fromEpoch}/{toEpoch}':
    post:
      operationId: dashboardAnalyticsService_getOnlyInputAnalytics
      tags:
        - Analytics
      summary: Get input analytics
      parameters:
        - name: processType
          in: path
          required: true
          schema:
            type: string
            enum:
              - inbound
              - outbound
              - both
        - name: fromEpoch
          in: path
          required: true
          schema:
            type: integer
        - name: toEpoch
          in: path
          required: true
          schema:
            type: integer
        - name: timeZoneOffset
          in: query
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              required:
                - ids
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InputAnalyticsResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/analytics/group/input/output/open/{processType}/{todayMidnightEpoch}/{fromEpoch}/{toEpoch}':
    post:
      operationId: dashboardAnalyticsService_getAllAnalytics
      tags:
        - Analytics
      summary: Get all analytics
      parameters:
        - name: processType
          in: path
          required: true
          schema:
            type: string
            enum:
              - inbound
              - outbound
              - both
        - name: todayMidnightEpoch
          in: path
          required: true
          schema:
            type: integer
        - name: fromEpoch
          in: path
          required: true
          schema:
            type: integer
        - name: toEpoch
          in: path
          required: true
          schema:
            type: integer
        - name: isUnique
          in: query
          required: true
          schema:
            type: boolean
        - name: timeZoneOffset
          in: query
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              required:
                - ids
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/analytics/group/input/output/{processType}/{fromEpoch}/{toEpoch}':
    post:
      operationId: dashboardAnalyticsService_getInputOutputAnalytics
      tags:
        - Analytics
      summary: Get input/output analytics
      parameters:
        - name: processType
          in: path
          required: true
          schema:
            type: string
            enum:
              - inbound
              - outbound
              - both
        - name: fromEpoch
          in: path
          required: true
          schema:
            type: integer
        - name: toEpoch
          in: path
          required: true
          schema:
            type: integer
        - name: isUnique
          in: query
          required: true
          schema:
            type: boolean
        - name: timeZoneOffset
          in: query
          required: true
          schema:
            type: integer
        - name: callMedium
          in: query
          required: false
          schema:
            type: string
            enum:
              - gsm
              - ct
              - all
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              required:
                - ids
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InputOutputAnalyticsResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /analytics/status/user:
    post:
      operationId: liveMonitorService_getTeamStatus
      tags:
        - LiveMonitor
      summary: Get live team status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              required:
                - ids
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMonitorResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/audit/log/{scope}':
    post:
      operationId: activityLogService_getActivityLog
      tags:
        - ActivityLog
      summary: Get activity log
      parameters:
        - name: scope
          in: path
          required: true
          schema:
            type: string
            enum:
              - user
              - admin
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /auth/company/challenges:
    get:
      operationId: companyService_getCompanyChallenges
      tags:
        - Company
      summary: Get company challenges
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyChallengesResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /auth/log:
    post:
      operationId: timeLogService_postAuthLog
      tags:
        - TimeLog
      summary: Post auth log
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimeLogPayload'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /auth/login:
    post:
      operationId: userService_login
      tags:
        - Users
      summary: Login a user
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /auth/login/otp/verify:
    post:
      operationId: userService_loginWithOTP
      tags:
        - Users
      summary: Verify login with OTP
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginOtpResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /auth/logout:
    get:
      operationId: userService_logout
      tags:
        - Users
      summary: Logout the current user
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: boolean
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /auth/password:
    put:
      operationId: resetPasswordService_changePassword
      tags:
        - Password
      summary: Change password
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /auth/password/reset:
    put:
      operationId: resetPasswordService_changePasswordViaOTP
      tags:
        - Password
      summary: Change password using OTP
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /auth/password/reset/init:
    put:
      operationId: resetPasswordService_requestOTP
      tags:
        - Password
      summary: Request password reset OTP
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /auth/password/set:
    post:
      operationId: inviteUserService_setPassword
      tags:
        - Invites
      summary: Set password from invite
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteUserPayload'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /auth/refresh:
    post:
      operationId: userService_refreshTokens
      tags:
        - Users
      summary: Refresh user tokens
      parameters:
        - name: getUserDetails
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenRefreshResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /auth/signup/mobile/verify:
    post:
      operationId: userService_validatePhoneNumberOTP
      tags:
        - Users
      summary: Validate phone number OTP
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumberVerificationResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/auth/signup/mobile/verify/{action}':
    post:
      operationId: userService_requestPhoneNumberVerificationOTP
      tags:
        - Users
      summary: Request phone number verification OTP
      parameters:
        - name: action
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/auth/user/init/{phoneNumber}':
    get:
      operationId: userService_getUserAuthDetailsByPhone
      tags:
        - Users
      summary: Get user auth details by phone number
      parameters:
        - name: phoneNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStartedDataResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /auth/user/invite/verify:
    post:
      operationId: inviteUserService_verifyInvite
      tags:
        - Invites
      summary: Verify user invite
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteUserResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/auth/user/region/{phoneNumber}':
    get:
      operationId: userService_getUserRegionByPhone
      tags:
        - Users
      summary: Get user region by phone number
      parameters:
        - name: phoneNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyRegionResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /cloud-telephony/call/init:
    post:
      operationId: cloudTelephonyService_makeCloudCall
      tags:
        - CloudTelephony
      summary: Initiate cloud call
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCallInfo'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company:
    get:
      operationId: companyService_getCompanyDetails
      tags:
        - Company
      summary: Get company details
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCompanyResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    put:
      operationId: companyService_saveCompanyDetails
      tags:
        - Company
      summary: Update company details
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCompany'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCompanyResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    delete:
      operationId: companyService_deleteCompany
      tags:
        - Company
      summary: Delete company
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/addons:
    get:
      operationId: companyAddOnService_getCompanyAddon
      tags:
        - AddOns
      summary: Get company add-ons
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                nullable: true
                allOf:
                  - $ref: '#/components/schemas/CompanyAddOn'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/addons/assign:
    post:
      operationId: processService_bulkAssignAddOns
      tags:
        - Processes
      summary: Assign add-ons in bulk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkAddOnPayload'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/company/addons/unassign/{type}':
    post:
      operationId: processService_bulkUnAssignAddOns
      tags:
        - Processes
      summary: Unassign add-ons in bulk
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum:
              - waba
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUnassignAddOnPayload'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/billing/upcoming:
    put:
      operationId: paymentService_updateUpcomingPlan
      tags:
        - Payments
      summary: Update upcoming billing plan
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOrderResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/call-analysis/credits:
    get:
      operationId: usageService_getAICredits
      tags:
        - Usage
      summary: Get AI credits
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AICreditsResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/company/call-analysis/credits/usage/{fromEpoch}/{toEpoch}':
    get:
      operationId: usageService_getAICreditsChartData
      tags:
        - Usage
      summary: Get AI credits chart data
      parameters:
        - name: fromEpoch
          in: path
          required: true
          schema:
            type: integer
        - name: toEpoch
          in: path
          required: true
          schema:
            type: integer
        - name: distribution
          in: query
          required: true
          schema:
            type: string
            enum:
              - daily
              - weekly
              - monthly
        - name: processId
          in: query
          required: false
          schema:
            type: string
        - name: timeZoneOffset
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AICreditUsageResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/call-analysis/insight-rules/:
    post:
      operationId: insightRulesService_createInsightRule
      tags:
        - InsightRules
      summary: Create insight rule
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/company/call-analysis/insight-rules/list/{itemsPerPage}/{pageNo}':
    get:
      operationId: insightRulesService_getInsightRules
      tags:
        - InsightRules
      summary: Get insight rules
      parameters:
        - name: itemsPerPage
          in: path
          required: true
          schema:
            type: integer
        - name: pageNo
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightRulesResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/company/call-analysis/insight-rules/{insightRuleId}':
    put:
      operationId: insightRulesService_updateInsightRule
      tags:
        - InsightRules
      summary: Update insight rule
      parameters:
        - name: insightRuleId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    delete:
      operationId: insightRulesService_deleteInsightRule
      tags:
        - InsightRules
      summary: Delete insight rule
      parameters:
        - name: insightRuleId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/call-analysis/scoring-criteria:
    post:
      operationId: scoringCriteriaService_createScoringCriteria
      tags:
        - ScoringCriteria
      summary: Create scoring criterion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallScoringCriteria'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/company/call-analysis/scoring-criteria/list/{itemsPerPage}/{pageNo}':
    get:
      operationId: scoringCriteriaService_getAllScoringCriteria
      tags:
        - ScoringCriteria
      summary: Get scoring criteria
      parameters:
        - name: itemsPerPage
          in: path
          required: true
          schema:
            type: integer
        - name: pageNo
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoringCriteriaResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/company/call-analysis/scoring-criteria/{callScoringCriteriaId}':
    delete:
      operationId: scoringCriteriaService_deleteScoringCriteria
      tags:
        - ScoringCriteria
      summary: Delete scoring criterion
      parameters:
        - name: callScoringCriteriaId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/company/call-analysis/scoring-criteria/{criteriaId}':
    put:
      operationId: scoringCriteriaService_updateScoringCriteria
      tags:
        - ScoringCriteria
      summary: Update scoring criterion
      parameters:
        - name: criteriaId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/cloudtelephony/virtualnumbers/list/available:
    get:
      operationId: virtualNumberService_getVirtualNumberList
      tags:
        - VirtualNumbers
      summary: Get available virtual numbers
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CTNumberListResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/company/cloudtelephony/{userId}':
    put:
      operationId: virtualNumberService_updateVirtualNumberOfUser
      tags:
        - VirtualNumbers
      summary: Update a user virtual number
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudTelephony'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/config:
    get:
      operationId: companyService_getCompanyConfiguration
      tags:
        - Company
      summary: Get company configuration
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyConfigurationData'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    put:
      operationId: companyService_uploadCompanyConfiguration
      tags:
        - Company
      summary: Update company configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyConfigurationData'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/crmfield/list:
    post:
      operationId: crmFieldsService_postCrmFields
      tags:
        - CRM
      summary: Save CRM fields
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrmFieldList'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/company/crmfield/list/process/{processId}':
    get:
      operationId: crmFieldsService_getCrmFields
      tags:
        - CRM
      summary: Get CRM fields for a process
      parameters:
        - name: processId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmFieldListResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/company/crmfield/reset/{crmFieldsId}':
    put:
      operationId: crmFieldsService_resetCrmFields
      tags:
        - CRM
      summary: Reset CRM fields
      parameters:
        - name: crmFieldsId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/ct/assign/bulk:
    post:
      operationId: virtualNumberService_updateBulkVirtualNumberOfUser
      tags:
        - VirtualNumbers
      summary: Assign virtual numbers in bulk
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/default/process:
    post:
      operationId: processService_createDefaultProcess
      tags:
        - Processes
      summary: Create default process
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/designation/list:
    get:
      operationId: designationService_getDesignations
      tags:
        - Designations
      summary: Get designations
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Designation'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    post:
      operationId: designationService_saveDesignations
      tags:
        - Designations
      summary: Save designations
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/company/designation/{designationId}':
    delete:
      operationId: designationService_deleteDesignation
      tags:
        - Designations
      summary: Delete a designation
      parameters:
        - name: designationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/dncr:
    post:
      operationId: dncrService_postDncrInterest
      tags:
        - DNCR
      summary: Submit DNCR interest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DncrInterestPayload'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/dnt/:
    get:
      operationId: doNotTrackService_getAllDNTNumbers
      tags:
        - DoNotTrack
      summary: Get do not track numbers
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    patch:
      operationId: doNotTrackService_deleteDNTNumbers
      tags:
        - DoNotTrack
      summary: Remove do not track numbers
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DNTResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/group/process/designation/list:
    get:
      operationId: processService_getDesignationList
      tags:
        - Processes
      summary: Get designation list
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesignationListResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/license/count:
    get:
      operationId: companyService_getLicenseMismatchData
      tags:
        - Company
      summary: Get license mismatch data
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseMismatchDataResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/company/license/demo/{count}':
    post:
      operationId: licenseService_addDemoLicenses
      tags:
        - Licenses
      summary: Add demo licenses
      parameters:
        - name: count
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/license/list:
    get:
      operationId: licenseService_getLicenses
      tags:
        - Licenses
      summary: Get license list
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseListResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/logo:
    post:
      operationId: companyService_uploadCompanyLogo
      tags:
        - Company
      summary: Upload company logo
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    delete:
      operationId: companyService_deleteCompanyLogo
      tags:
        - Company
      summary: Delete company logo
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/module/config:
    put:
      operationId: scoringCriteriaService_updateScoringCriteriaConfiguration
      tags:
        - ScoringCriteria
      summary: Update scoring configuration
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/notification/status:
    post:
      operationId: notificationService_triggerFcmNotification
      tags:
        - Notifications
      summary: Trigger FCM notification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserStatusNotificationPayload'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/company/payment/init/link/{paymentGatewayType}':
    post:
      operationId: paymentService_generatePaymentLink
      tags:
        - Payments
      summary: Create payment link
      parameters:
        - name: paymentGatewayType
          in: path
          required: true
          schema:
            type: string
            enum:
              - razorpay
        - name: subscriptionPlan
          in: query
          required: true
          schema:
            type: string
            enum:
              - renewal
              - manage
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/company/payment/init/{paymentGatewayType}':
    post:
      operationId: paymentService__generatePaymentOrderId
      tags:
        - Payments
      summary: Create payment order
      parameters:
        - name: paymentGatewayType
          in: path
          required: true
          schema:
            type: string
            enum:
              - razorpay
        - name: subscriptionPlan
          in: query
          required: true
          schema:
            type: string
            enum:
              - renewal
              - manage
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOrderResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/company/payment/invoice/{paymentId}':
    get:
      operationId: paymentService_getPaymentInvoice
      tags:
        - Payments
      summary: Get payment invoice
      parameters:
        - name: paymentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/company/payment/link/{action}/{paymentId}':
    put:
      operationId: paymentService_updatePaymentLink
      tags:
        - Payments
      summary: Resend or cancel a payment link
      parameters:
        - name: action
          in: path
          required: true
          schema:
            type: string
            enum:
              - resend
              - cancel
        - name: paymentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/company/payment/list/{perPageItems}/{pageNo}':
    get:
      operationId: paymentService_getPaymentHistory
      tags:
        - Payments
      summary: Get payment history
      parameters:
        - name: perPageItems
          in: path
          required: true
          schema:
            type: integer
        - name: pageNo
          in: path
          required: true
          schema:
            type: integer
        - name: searchBy
          in: query
          required: true
          schema:
            type: string
        - name: search
          in: query
          required: false
          schema:
            type: string
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum:
              - renewal
              - upgrade
              - plan_change
              - subscribe
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentHistoryResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/process:
    post:
      operationId: processService_createProcess
      tags:
        - Processes
      summary: Create process
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/process/list:
    get:
      operationId: processService_getProcessList
      tags:
        - Processes
      summary: Get process list
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessListResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/company/process/{processId}':
    put:
      operationId: processService_updateProcess
      tags:
        - Processes
      summary: Update process
      parameters:
        - name: processId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    delete:
      operationId: processService_deleteProcess
      tags:
        - Processes
      summary: Delete process
      parameters:
        - name: processId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/role/:
    post:
      operationId: rolesAndPermissionsService_createNewRole
      tags:
        - RolesAndPermissions
      summary: Create a role
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleModel'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/role/assign:
    post:
      operationId: rolesAndPermissionsService_bulkAssignNewRole
      tags:
        - RolesAndPermissions
      summary: Bulk assign roles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkAssignRolePayload'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/role/list:
    get:
      operationId: rolesAndPermissionsService_getAllRolesList
      tags:
        - RolesAndPermissions
      summary: List roles
      parameters:
        - name: isUserCount
          in: query
          required: true
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleModelListResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/company/role/{deletingRoleId}':
    delete:
      operationId: rolesAndPermissionsService_deleteRole
      tags:
        - RolesAndPermissions
      summary: Delete a role
      parameters:
        - name: deletingRoleId
          in: path
          required: true
          schema:
            type: string
        - name: transferRoleId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/company/role/{roleId}':
    get:
      operationId: rolesAndPermissionsService_getRole
      tags:
        - RolesAndPermissions
      summary: Get a role
      parameters:
        - name: roleId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleModelResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    put:
      operationId: rolesAndPermissionsService_updateRole
      tags:
        - RolesAndPermissions
      summary: Update a role
      parameters:
        - name: roleId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleUpdatePayload'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/security/config:
    put:
      operationId: securityConfigService_updateSecurityConfig
      tags:
        - SecurityConfig
      summary: Update security config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityConfig'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/signup:
    post:
      operationId: userService_signUp
      tags:
        - Users
      summary: Sign up a company user
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/company/storage/{storageType}/limit':
    get:
      operationId: usageService_getStorageLimit
      tags:
        - Usage
      summary: Get storage limit
      parameters:
        - name: storageType   
          in: path
          required: true
          schema:
            type: string
            enum:
              - customers
              - call_recordings
        - name: from
          in: query
          required: true
          schema:
            type: integer
        - name: to
          in: query
          required: true
          schema:
            type: integer
        - name: timeZoneOffset
          in: query
          required: true
          schema:
            type: integer
        - name: processId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyTotalCustomersResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/user/list:
    get:
      operationId: companyService_getUsersList
      tags:
        - Company
      summary: Get company users
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyUserListResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/verify/email:
    post:
      operationId: companyService_requestVerifyEmailOTP
      tags:
        - Company
      summary: Request email OTP
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /company/workflow/:
    get:
      operationId: allocationRulesService_getWorkFlowRulesList
      tags:
        - AllocationRules
      summary: Get workflow rules list
      parameters:
        - name: processId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeadAllocationResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    post:
      operationId: allocationRulesService_saveWorkFlow
      tags:
        - AllocationRules
      summary: Save workflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowRulePayload'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/company/workflow/{id}':
    put:
      operationId: allocationRulesService_updateWorkFlow
      tags:
        - AllocationRules
      summary: Update workflow
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: disable
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    delete:
      operationId: allocationRulesService_deleteWorkFlow
      tags:
        - AllocationRules
      summary: Delete a workflow
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /customer/allocation/bulk/assign:
    post:
      operationId: allocationService_bulkAssignAllocations
      tags:
        - Allocations
      summary: Bulk assign allocations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkAssignAllocationsPayload'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /customer/assign:
    post:
      operationId: customerDetailsService_patchAssignTo
      tags:
        - Customers
      summary: Assign customer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignToUser'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /customer/call/analysis/initiate:
    post:
      operationId: callInsightsService_postCallInsights
      tags:
        - CallInsights
      summary: Initiate call insights
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallInsightsStatusResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/customer/call/analysis/status/{callLogId}':
    get:
      operationId: callInsightsService_getCallInsightsStatus
      tags:
        - CallInsights
      summary: Get call insights status
      parameters:
        - name: callLogId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallInsightsStatusResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/customer/call/analysis/{callLogId}':
    get:
      operationId: callInsightsService_getCallInsights
      tags:
        - CallInsights
      summary: Get call insights
      parameters:
        - name: callLogId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallInsightsResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/customer/crm/{searchTerm}':
    post:
      operationId: customerSearchService_getCustomerDetailsById
      tags:
        - CustomerSearch
      summary: Get customer details by ID
      parameters:
        - name: searchTerm
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              required:
                - ids
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSearchDetailsResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /customer/dncr/status:
    get:
      operationId: callService_getDncrStatus
      tags:
        - Calls
      summary: Get DNCR status
      parameters:
        - name: phoneNumber
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DncrStatusResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /customer/file/path:
    get:
      operationId: fileUploadService_updateRecordingFilePath
      tags:
        - Files
      summary: Update recording file path
      parameters:
        - name: fileName
          in: query
          required: true
          schema:
            type: string
        - name: interactionId
          in: query
          required: true
          schema:
            type: string
        - name: fileType
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/customer/file/presigned/url/{companyId}/{userId}/{fileName}':
    get:
      operationId: fileUploadService_getPresignedUrlAndUpload
      tags:
        - Files
      summary: Get a presigned upload URL
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: fileName
          in: path
          required: true
          schema:
            type: string
        - name: fileType
          in: query
          required: true
          schema:
            type: string
            enum:
              - whatsapp
              - recordings
              - documents
        - name: callLogId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/customer/file/reports/{companyId}/{userId}/report':
    get:
      operationId: fileUploadService_getReportAccessPath
      tags:
        - Files
      summary: Get report file access path
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: filePath
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/customer/file/{filePath}':
    get:
      operationId: fileUploadService_getFileAccessPath
      tags:
        - Files
      summary: Get file access path
      parameters:
        - name: filePath
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    delete:
      operationId: fileUploadService_deleteFile
      tags:
        - Files
      summary: Delete file
      parameters:
        - name: filePath
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/customer/file/{recordingPath}':
    get:
      operationId: callService_getCallRecordingUrl
      tags:
        - Calls
      summary: Get call recording url
      parameters:
        - name: recordingPath
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /customer/followup/recurring/close:
    put:
      operationId: recurringFollowupService_markFollowupAsDone
      tags:
        - RecurringFollowups
      summary: Mark recurring followup as done
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecurringFollowupPayload'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /customer/followup/recurring/create:
    put:
      operationId: recurringFollowupService_createRecurringFollowUp
      tags:
        - RecurringFollowups
      summary: Create recurring followup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecurringFollowupPayload'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /customer/followup/recurring/delete:
    put:
      operationId: recurringFollowupService_deleteRecurringFollowUp
      tags:
        - RecurringFollowups
      summary: Delete recurring followup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecurringFollowupDeletePayload'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /customer/followup/recurring/update:
    put:
      operationId: recurringFollowupService_updateRecurringFollowUp
      tags:
        - RecurringFollowups
      summary: Update recurring followup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecurringFollowupPayload'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/customer/followup/recurring/{recurringFollowupType}/{perPageItems}/{pageNo}':
    get:
      operationId: recurringFollowupService_getRecurringFollowups
      tags:
        - RecurringFollowups
      summary: Get recurring followups
      parameters:
        - name: recurringFollowupType
          in: path
          required: true
          schema:
            type: string
            enum:
              - pending
              - future
        - name: perPageItems
          in: path
          required: true
          schema:
            type: integer
        - name: pageNo
          in: path
          required: true
          schema:
            type: integer
        - name: timeZoneOffset
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringFollowupListResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /customer/interaction/call:
    post:
      operationId: callService_postCallLog
      tags:
        - Calls
      summary: Post call log
      parameters:
        - name: isOnBreak
          in: query
          required: true
          schema:
            type: boolean
        - name: isCheckOut
          in: query
          required: true
          schema:
            type: boolean
        - name: ignoreUnknownCalls
          in: query
          required: true
          schema:
            type: boolean
        - name: isBgSync
          in: query
          required: true
          schema:
            type: boolean
        - name: timeZoneOffset
          in: query
          required: true
          schema:
            type: integer
        - name: isPopupEnabled
          in: query
          required: true
          schema:
            type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Call'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /customer/interaction/call/bulk:
    delete:
      operationId: callLogService_deleteListOfCallLogs
      tags:
        - CallLogs
      summary: Delete a list of call logs
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /customer/interaction/call/list:
    post:
      operationId: callService_postBulkCallLogs
      tags:
        - Calls
      summary: Post bulk call logs
      parameters:
        - name: ignoreUnknownCalls
          in: query
          required: true
          schema:
            type: boolean
        - name: timeZoneOffset
          in: query
          required: true
          schema:
            type: integer
        - name: isPopupEnabled
          in: query
          required: true
          schema:
            type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                callLogs:
                  type: array
                  items:
                    type: string
              required:
                - callLogs
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCallLogsResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/customer/interaction/call/list/{fromEpoch}/{toEpoch}/{perPageItems}/{pageNo}':
    post:
      operationId: callLogService_getCallLogs
      tags:
        - CallLogs
      summary: Get call logs
      parameters:
        - name: fromEpoch
          in: path
          required: true
          schema:
            type: integer
        - name: toEpoch
          in: path
          required: true
          schema:
            type: integer
        - name: perPageItems
          in: path
          required: true
          schema:
            type: integer
        - name: pageNo
          in: path
          required: true
          schema:
            type: integer
        - name: sortBy
          in: query
          required: true
          schema:
            type: string
        - name: fields
          in: query
          required: true
          schema:
            type: string
        # - name: callDurationRange  #this is false
        #   in: query
        #   required: true
          schema:
            type: string
        - name: callAnalysisStatus
          in: query
          required: true
          schema:
            type: string
            enum:
              - analyzed
              - un_analyzed
              - both
        - name: callScoreRange
          in: query
          required: false
          schema:
            type: string
        - name: isDeletedCallLogs
          in: query
          required: false
          schema:
            type: boolean
        - name: searchBy
          in: query
          required: false
          schema:
            type: string
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum:
              - notanswered
              - incoming_answered
              - outgoing_answered
              - missed
              - personal
              - openmissedcalls
              - outgoing_personal
              - incoming_personal
        - name: search
          in: query
          required: false
          schema:
            type: string
        - name: callMedium
          in: query
          required: false
          schema:
            type: string
            enum:
              - gsm
              - ct
              - all
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallLogsResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/customer/interaction/call/personal/{callId}':
    delete:
      operationId: callService_deletePersonalCall
      tags:
        - Calls
      summary: Delete personal call
      parameters:
        - name: callId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/customer/interaction/call/tag/{callLogId}':
    put:
      operationId: callService_updateCallLogTag
      tags:
        - Calls
      summary: Update call log tag
      parameters:
        - name: callLogId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Call'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /customer/interaction/call/wrapup:
    post:
      operationId: timeLogService_postWrapUpStatus
      tags:
        - TimeLog
      summary: Post wrap-up status
      parameters:
        - name: isOnBreak
          in: query
          required: true
          schema:
            type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimeLogPayload'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /customer/interaction/crm:
    post:
      operationId: crmService_postCrm
      tags:
        - CRM
      summary: Post CRM interaction
      parameters:
        - name: isOnBreak
          in: query
          required: true
          schema:
            type: boolean
        - name: timeZoneOffset
          in: query
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Crm2'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  '/customer/interaction/crm/calendar/count/{fromEpoch}/{toEpoch}':
    post:
      operationId: calendarEventService_getCalendarEvents
[...]
